.custom-button {
  width: 100%;
  max-width: 340px;
  height: 40px;
  padding: 10px 20px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  background: #FFCE22;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
  color: #1F2128;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.custom-button:hover {
  background: #FFD84D;
  transition: all 0.2s ease-in-out;
}

.custom-button:active {
  background: #FFCE22;
  transition: all 0.2s ease-in-out;
}

.custom-button:focus {
  outline: none;
}
